@import "tailwindcss";

@theme {
    --color-slate-800: #1e293b;
    --color-slate-900: #0f172a;
    --color-emerald-500: #10b981;
    --color-emerald-600: #059669;
}

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: rgba(241, 245, 249, 0.5);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: rgba(203, 213, 225, 0.8);
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: rgba(148, 163, 184, 0.8);
    }
}